@{
    ViewData["Title"] = "Listar Productos";
}
@using Models
@model List<Models.Productos>

<h1>@ViewData["Title"]</h1>
<br>

<section class="container d-flex flex-column">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center table-info">
                <th scope="col">Código</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>@foreach (Productos prod in Model)
            {
                <tr>
                    <td class="text-center">@prod.IdProducto</td>
                    <td>@prod.Descripcion</td>
                    <td>@prod.Precio</td>
                    <td class="text-center"><a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="ModificarProducto">Modificar</a></td>
                    <td class="text-center"><a href="">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-outline-success text-center  justify-content-center">Agregar Producto</button>
</section>
