@{
    ViewData["Title"] = "Productos";
}



<h1>@ViewData["Title"]</h1>

<p>Listado de productos</p>
<table class="table-striped table-danger">
    <thead>
        <tr>
            <th>Titulo1</th>
            <th>Titulo2</th>
            <th>Titulo3</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

using models;
