@using Models
@model Models.PresupuestosDetalle
@{
    ViewData["Title"] = "Agregar Productos al presupuesto n°" + ViewBag.Id.ToString();
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Presupuestos" asp-action="AgregarProducto" asp-route-id="@ViewBag.Id" method="post" class="bg-light container-fluid">
    <section>
        <label for="Producto">Productos:</label>
        <select name="Producto" id="Producto" class="form-control" asp-for="Producto" required>
            @foreach (Producto p in ViewBag.ListaProductos)
            {
                <option value="@p.IdProducto">@p.Descripcion</option>
            }
        </select>
    </section>
    <section>
        <label for="Cantidad">Cantidad</label>
        <input type="number" class="form-control" asp-for="Cantidad" min="1" placeholder="1" required>
    </section>

    <section class="text-center form-group align-items-center">
        <input type="submit" class="btn btn-warning col-2 m-3" value="Agregar">
        <a class="btn btn-success col-2 m-3" asp-area="" asp-controller="Presupuestos"
            asp-action="ListarPresupuestos">Volver</a>
    </section>
</form>