@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Mi primera web API</p>
    <section>
        @* <a asp-controller="Productos" asp-action="ObtenerListado">Listar Productos</a> *@
    </section>
</div>
